<% include ../partials/header %>
<div class="container">
  <div class="row">
    <div class="col-12 d-flex flex-column mb-5">
      <h1 class="text-center">create a new campground</h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form class="" action="/campgrounds" method="post">
        <div class="form-group">
          <input class="form-control mb-3" type="text" name="name" placeholder="name">
          <input class="form-control mb-3" type="text" name="image" placeholder="image url">
          <textarea name="description" class="form-control mb-3" rows="3"></textarea>
          <input class="btn btn-sm btn-primary btn-block" type="submit">
        </div>
      </form>
      <div class="col-12 d-flex flex-column">
        <a href="/campgrounds">Go Back</a>
      </div>
    </div>
  </div>
</div>
<% include ../partials/footer %>
